<section class="main__container">
  <!-- input information/s -->
  <form>
    <!-- Basic Information -->
    <div class="main__basicinformation">
      <p class="main__information__texttitles">Basic Information</p>

      <!-- full name -->
      <div>
        <p class="information__texttitles">Full Name<span>*</span></p>
        <input type="text" placeholder="Enter your Full Name" />
      </div>

      <!-- Email Address -->
      <div>
        <p class="information__texttitles">Email Address<span>*</span></p>
        <input type="text" placeholder="Enter your Full Name" />
      </div>

      <!-- Password -->
      <div>
        <p class="information__texttitles">Password<span>*</span></p>
        <input type="password" placeholder="Enter your Full Name" />
      </div>

      <!-- Confirm Password -->
      <div>
        <p class="information__texttitles">Confirm Password<span>*</span></p>
        <input type="password" placeholder="Enter your Full Name" />
      </div>
    </div>
    <!-- end of Basic Information section -->

    <!-- Vehicle Information -->
    <div class="main__vehicleinformation">
      <p class="main__information__texttitles">Vehicle Information</p>

      <!-- Make -->
      <div>
        <p class="information__texttitles">Make<span>*</span></p>
        <input type="text" placeholder="Enter your Full Name" />
      </div>

      <!-- Model -->
      <div>
        <p class="information__texttitles">Model<span>*</span></p>
        <input type="text" placeholder="Enter your Full Name" />
      </div>

      <!-- Plate Number -->
      <div>
        <p class="information__texttitles">Plate Number<span>*</span></p>
        <input type="text" placeholder="Enter your Full Name" />
      </div>
    </div>
    <!-- end of vehicle section -->

    <!-- Upload Required Documents Section -->
    <div>
        <p>Upload Required Documents</p>
    </div>
    <!-- End ofUpload Required Documents Section -->

  </form>
</section>
