<section class="main_container">
  <img
    class="left-landing"
    src="../../../assets/svg/parking-logo.svg"
    alt="parklogo"
  />

  <div class="right-landing">
    <div class="rAppName">
      <p class="webName">ParkingPal</p>
    </div>
    <!-- Sign in to ParkingPAL -->
    <div class="right__landing__signin">
        <div class="container">
            <p class="container__info">Sign in to ParkingPAL</p>
            <p class="container__info1">Enter your account details below</p>
          </div>
          <!-- Forms section -->
          <form class="right__forms">
              <input placeholder="Enter Email" type="email">
              <input placeholder="Enter Password" type="password">
      
              <button class="right__signin" type="submit" formmethod="post">
                  <p class="right__signin__text">Sign in</p>
              </button>
              <p class="right__forgotpass">Forgot Password?</p>
              
              <!-- Don't Have acc? -->
              <div class="right__donthaveacc">
                <p class="right__donthaveacctxt">Don't have an account?</p>
                <button class="right__donthaveaccbtn" routerLink="/getstarted"><p class="right__donthaveaccGetstart">Get Started</p></button>
              </div>
          </form>
    </div>
    
  </div>
</section>
